
h1 {
    font-size: 4em;
    font-weight: 800;
}

h2 {
    font-size: 2em;
    font-weight: 600;
}

a {
    font-size: 1em;
    font-weight: 400;
}

.homeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroSection {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    font-family: "Playpen Sans";
    color: var(--text-primary);
    margin-top: 60px;
    padding-bottom: 10px;
}

.socials {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}